
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-container {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../images/Rectangle2.png");
  height: 440px;
  width: 100%;
}

.hero-container-inner,
.maindoby-container {
  width: 70%;
  margin: auto;
}

.hero-container-inner h1 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-container-inner p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.maindoby-container .links a {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  margin: 0 20px;
}
.maindoby-container .links .links-right .post,
.join {
  width: 133px;
  height: 36px;
  border-radius: 4px;
}

.post-card-main-container h6 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.post-card-main-container h4 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 134.167%;
}
.post-card-main-container p {
  color: #5c5c5c;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.167%; /* 25.492px */
}