@media only screen and (max-width: 1000px) {
  .post-card-main-container{
    width: 100%;
  }

  .maindoby-container {
    width: 90%;
  }
  .main-header{
    display: none;
  }
  .nav-small{
    display: flex;
  }

  }

  @media only screen and (max-width: 1060px) {
    .post-section-right{
      display: none;
    }
    }

  @media only screen and (max-width: 847px) {
    .linkss-sm-device{
        display: block;
    }
    .links{
        display: none;
    }
  }

@media only screen and (max-width: 700px) {
  .right-image-form{
    display: none;
  }
  .sign-in-sign-up-text{
    display: none;
  }
  
  .signup-model-button button{
    width: 10rem;
  }

  .hero-container-inner{
    margin-top: 16rem;
  }
  .signup-model-button p{
    display: block;
    display: flex;
    flex-direction: column;
  }
  .fname-lname{
    flex-direction: column;
  }
  .my-main-modelform{
    width: 90%;
     margin-top: 50%;
  }
  .sign-in-sign-up-form{
    width: 100%
  }
}
@media only screen and (max-width: 500px) {
  .my-main-modelform{
    width: 90%;
    margin-top: 90%;
  }
}